{% extends "base.html" %}

{% block title %} קטלוג {% endblock %}

{% block body %}
<div class="container jumbotron">
  <div class="container text-center">
    <h1 class="text-center">קטלוג PVC</h1>
  </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"><h2>PVC בגלילים</h2></div>
                    <div class="panel-body"><img src="{{ url_for('static', filename='/images/pvc_roll.jpg') }}" class="img-responsive rounded"
                                                 style="width:100%" alt="Image"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading text-center"><h2>אריחים בהדבקה</h2></div>
                    <div class="panel-body"><img src="{{ url_for('static', filename='/images/pvc_glue.jpeg') }}" class="img-responsive rounded"
                                                 style="width:100%" alt="Image"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"><h2>PVC פולימרי קליק</h2></div>
                    <div class="panel-body"><img src="{{ url_for('static', filename='/images/pvc_click.jpeg') }}" class="img-responsive rounded"
                                                 style="width:100%" alt="Image"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}