{% extends "base.html" %}

{% block title %} Home page {% endblock %}

{% block body %}
    <br><br>
    <div class="container ">
        <div class="position-relative overflow-hidden p-md-0 text-center bg-light card-body">
            <div class="col-md-8 p-lg-1 mx-auto my-1">
                <h1 class="display-5 font-weight-normal">מכירה והתקנה של כל סוגי הריצוף</h1>
            </div>
        </div>
    </div>
    <br><br>
        <hr class="container">
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="single-service">
                    <img src="{{ url_for('static', filename='/images/68_oooo.plus.png') }}" width="270px"/>
                    <h2 class="text-center"><a href="/">פרקט פישבון</a></h2>
                    <br><br>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="single-service">
                    <img src="{{ url_for('static', filename='/images/parquet_wood.png') }}" width="270px"/>
                    <h2 class="text-center"><a href="/">פרקט עץ</a></h2>
                    <br><br>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="single-service">
                    <img src="{{ url_for('static', filename='/images/laminate.png') }}" width="270px"/>
                    <h2 class="text-center"><a href="/">פרקט למינציה</a></h2>
                    <br><br>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="single-service">
                    <img src="{{ url_for('static', filename='/images/1768_oooo.plus.png') }}" width="270px"/>
                    <h2 class="text-center"><a href="/">שטיחים</a></h2>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="single-service">
                    <img src="{{ url_for('static', filename='/images/1208_oooo.plus.png') }}" width="270px"/>
                    <h2 class="text-center"><a href="/catalog_pvc">פי וי סי</a></h2>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="single-service">
                    <img src="{{ url_for('static', filename='/images/green_grass.png') }}" width="270px"/>
                    <h2 class="text-center"><a href="/">דשא סינטטי ירוק</a></h2>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="single-service">
                    <img src="images/services/1.png" alt="">
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="single-service">
                    <img src="images/services/2.png" alt="">
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="single-service">
                    <img src="images/services/3.png" alt="">
                </div>
            </div>
        </div>
    </div>

{% endblock %}